{% extends "base/body.html" %}
{%load bootstrap5%}
{% load static %}
{% load crispy_forms_tags %}
{%bootstrap_css%}
{% load bootstrap_icons %}
{% block title %}
    Detalles de Mantenimiento
{% endblock title %}

{% block header %}
    <h1>Detalles de Mantenimiento del elemento de Placa: {{query.elemento.placa}} </h1>
{% endblock header %}

{% block content %}
    <div class="container">
    	<div class="row">
    		<div class="col">
                <table class="table table-striped table-hover table-bordered">
                    <thead>
                        <th>Placa</th>
                        <th>Nombre en Red</th>
                        <th>Descripción de elemento</th>
                        <th>Estado</th>
                        <th>IP</th>
                    </thead>
                    <tbody>
                            
                            <tr>
                                <th scope="row" >{{query.elemento.placa}} </th>
                                <td>{{query.elemento.nombreRed}} </td>
                                <td>{{query.elemento.marca}} {{query.modelo}} </td>
                                <td>{{query.elemento.estado}}</td>
                                <td>{{query.elemento.ip}}
                                </td>
                            </tr>
                        
                    </tbody>
                </table>
                <table  class="table table-striped table-hover table-bordered">
                    <thead>
                        <th>MAC</th>
                        <th>SERIAL</th>
                    </thead>
                    <tbody>
                            <tr>
                                <th scope="row" >{{query.elemento.mac}} </th>
                                <td>{{query.elemento.Serial}} </td>
                            </tr>
                        
                    </tbody>
                </table>
    		</div>
    		<div class="col">
                <h3>Detalle de Mantenimiento</h3>
    			<form method="POST">
    				{% csrf_token %}
    				{{form|crispy}}
    			</form>
    		</div>
    	</div>
        <div class="row">
            <h4>Historial de Mantenimientos</div>
            <table class="table table-striped table-hover table-bordered">
                <thead>
                    <th>Placa</th>
                    <th>Nombre en Red</th>
                    <th>Descripción de elemento</th>
                    <th>Estado</th>
                    <th>IP</th>
                </thead>
                <tbody>
                        
                        <tr>
                            <th scope="row" >{{query.elemento.placa}} </th>
                            <td>{{query.elemento.nombreRed}} </td>
                            <td>{{query.elemento.marca}} {{query.modelo}} </td>
                            <td>{{query.elemento.estado}}</td>
                            <td>{{query.elemento.ip}}
                            </td>
                        </tr>
                    
                </tbody>
            </table>
        </div>
    </div>
{% endblock content %}