{% extends 'base/body.html' %}
{%load crispy_forms_tags%}
{%load bootstrap5%}
{%bootstrap_css%}
{% load bootstrap_icons %}


{% block title %}
    Detalles - Elemento - SIGMA
{% endblock title %}


{% block header %}
    <h1>Detalles del Elemento de placa {{object.placa}}</h1>
{% endblock header %}


{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-header">
                  Detalles
                </div>
                <div class="card-body">
                  <h5 class="card-title">Placa del elemento: {{object.placa}}</h5>
                  <p>Marca del elemento: {{object.marca}}</p>
                  <p>Modelo del elemento: {{object.modelo}}</p>
                  <p>Serial del elemento: {{object.Serial}}</p>
                  <p>Dirección MAC: {{object.mac}}</p>
                  <p>¿Se encuentra conectado a Red?: {{object.conexionRed}}</p>
                  <p>Dirección IP: {{object.ip}}</p>
                  <p>Nombre del elemento en Red: {{object.nombreRed}}</p>
                  <p>Valor de adquisición: {{object.valorAdquisicion}}</p>
                  <p>Valor en libros: {{object.valorActual}}</p>
                  <p>Proveedor:  {{object.proveedor}}</p>
                  <p>Tipo de ingreso: {{object.tipoIngreso}}</p>
                  <p>Estado del elemento: {{object.estado}}</p>
                  <a href="{% url 'inventario:elementoIndex' %}" class="btn btn-primary">Atrás</a>
                  <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#exampleModal">
                    Eliminar
                </button>
                </div>
              </div>
        </div>
        <div class="col">
            <div class="card">
                <div class="card-header">
                  Actualizar Detalles de Marca
                </div>
                <div class="card-body">
                    <form method="POST">
                        {% csrf_token %}
                        {{form|crispy}}
                        <button class="btn btn-success" type="submit">Guardar</button>
                    </form>
                </div>
              </div>
        </div>
    </div>
</div>

<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Eliminar Marca</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
      <form method="POST">
                <p>¿Está seguro?</p>
                <p> Este proceso <strong>NO SE PUEDE DESHACER</strong>.</p>
                <p>¿Desea continuar?</p>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
            <a type="submit" class="btn btn-danger" href="{% url 'inventario:elementoDelete' object.placa %}">Sí, eliminar</a>
        </div>
    </form>
        </div>
    </div>
</div>
{% endblock content %}
